body{
    background: url('../images/bg.jpg') no-repeat 0 0 / cover;
}

/* 边框图片样式 */
.panel{
    position: relative;
    border: 1px solid #ccc;
    /* 边框的宽 */
    border-width: 50px 39px 21px 130px;
    border-image: url('../images/border.png') 50 39 21 130 stretch ;
    box-sizing: border-box;
}
.inner{
    position: absolute;
    top: -50px;
    right: -39px;
    bottom: -21px;
    left: -130px;
    padding: 20px 30px;
}

/* 版心样式 */
.container{
    display: flex;
    background: url('../images/logo.png') no-repeat 0 0 / contain;
    min-height: 700px;
    min-width: 1500px;
    max-width: 1920px;
    padding: 120px 20px 0 20px;
    margin: 0 auto;
}

/* 第一列和第三列样式 */
.column:nth-child(1),
.column:nth-child(3){
    flex: 3;
}

/* 第二列样式 */
.column:nth-child(2){
    flex: 4;
    margin: 0 20px;
}

/* 1.数据概览样式 */
.overview{
    height: 108px;
}
.overview .inner{
    display: flex;
}
.overview .item{
    flex: 1;
    text-align: center;
}
.overview .item h3{
    color: #fff;
    font-size: 20px;
    margin-bottom: 18px;
}
.overview .item i{
    font-size: 14px;
}
.overview .item span{
    color: #4c9bfd;
    font-size: 14px;
}

/* 2.设备监控样式 */
.monitor{
    height: 475px;
    margin: 20px 0;
}
/* 头部部分样式 */
.monitor .head{
    color: #1150c4;
    font-size: 20px;
    height: 60px;
}
.monitor .head .active{
    color: #fff;
}
.monitor .head .sp{
    color: #00f2f1;
    font-size: 25px;
    margin: 0 30px;
}
/* 标题部分样式 */
.monitor .title{
    display: flex;
    height: 38px;
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    background-color: rgba(255, 255, 255, .1);
    align-items: center;
}
.monitor .title span{
    color: #68d8fe;
    font-size: 14px;
}
.monitor .title span:nth-child(1),
.monitor .title span:nth-child(3){
    flex: 1;
}
.monitor .title span:nth-child(2){
    flex: 2;
}
/* 内容部分样式 */
.monitor .content{
    height: 343px;
    color: #4396d8;
    overflow: hidden;
    display: none;
    margin-left: -30px;
    margin-right: -30px;
}
.monitor .content.active{
    display: block;
}
.monitor .content li{
    display: flex;
    height: 34px;
    padding-left: 30px;
    align-items: center;
}
.monitor .content li:hover{
    background-color: rgba(106, 204, 163, .5);
}
.monitor .content span:nth-child(1),
.monitor .content span:nth-child(3){
    flex: 1;
}
.monitor .content span:nth-child(2){
    flex: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 3.点位分布统计样式 */
.point{
    height: 330px;
}
.point h3{
    font-size: 20px;
    height: 42px;
    color: #fff;
}
.point .echarts {
    display: flex;
    height: 240px;
}
.point .echarts .pie{
    flex:2;
    background-color: rgba(255, 255, 255, .1);
}
.point .echarts .data{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.point .echarts .data .item{
    width: 50%;
}
.point .echarts .data span{
    color: #4c9bfd;
}

/* 4.设备数据统计(地图)样式 */
.map{
    height: 603px;
    margin: 0 13px;
    background-color: rgba(255, 255, 255, .1);
}

/* 5.全国用户总量统计样式 */
.userTotal{
    height: 330px;
    margin: 20px;
}

/* 6.订单销售额概览样式 */
.order{
    height: 144px;
}

/* 7.销售额统计样式 */
.sale{
    height: 245px;
    margin: 20px 0;
}

/* 8.渠道分布和一季度销售进度样式 */
.twoInOne{
    display: flex;
    margin-bottom: 20px;
}
/* 8.1渠道分布样式 */
.channel{
    height: 230px;
    width: 48%;
}

/* 8.2一季度销售进度样式 */
.quarter{
    margin-left: 20px;
    width: 48%;
    height: 230px;
}

/* 9.全国热榜 各省热销样式 */
.hot{
    height: 275px;
}