body{
    background: url('../images/bg.jpg') no-repeat 0 0 / cover;
}

/* 边框图片样式 */
.panel{
    position: relative;
    border: 1px solid #ccc;
    /* 边框的宽 */
    border-width: 50px 39px 21px 130px;
    border-image: url('../images/border.png') 50 39 21 130 stretch ;
    box-sizing: border-box;
}
.inner{
    position: absolute;
    top: -50px;
    right: -39px;
    bottom: -21px;
    left: -130px;
    padding: 20px 30px;
}

/* 版心样式 */
.container{
    display: flex;
    background: url('../images/logo.png') no-repeat 0 0 / contain;
    min-height: 700px;
    min-width: 1500px;
    max-width: 1920px;
    padding: 120px 20px 0 20px;
    margin: 0 auto;
}

/* 第一列和第三列样式 */
.column:nth-child(1),
.column:nth-child(3){
    flex: 3;
}

/* 第二列样式 */
.column:nth-child(2){
    flex: 4;
    margin: 0 20px;
}

/* 1.数据概览样式 */
.overview{
    height: 108px;
}
.overview .inner{
    display: flex;
}
.overview .item{
    flex: 1;
    text-align: center;
}
.overview .item h3{
    color: #fff;
    font-size: 22px;
    margin-bottom: 18px;
}
.overview .item i{
    font-size: 14px;
}
.overview .item span{
    color: #4c9bfd;
    font-size: 14px;
}

/* 2.设备监控样式 */
.monitor{
    height: 475px;
    margin: 20px 0;
}
/* 头部部分样式 */
.monitor .head{
    font-size: 20px;
    height: 60px;
}
.monitor .head a{
    color: #1150c4;
}
.monitor .head .active{
    color: #fff;
}
.monitor .head .sp{
    color: #00f2f1;
    font-size: 25px;
    margin: 0 30px;
}
/* 内容部分样式 */
.monitor .title{
    display: flex;
    height: 38px;
    padding-left: 30px;
    margin: 0 -30px;
    background-color: rgba(255, 255, 255, .1);
    align-items: center;
}
.monitor .title span{
    color: #68d8fe;
    font-size: 14px;
}
.monitor .title span:nth-child(1),
.monitor .title span:nth-child(3){
    flex: 1;
}
.monitor .title span:nth-child(2){
    flex: 2;
}
.monitor .carousel{
    height: 343px;
    margin:0 -30px;
    position: relative;
    overflow: hidden;
}
.monitor .carousel ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.monitor .carousel li{
    display: flex;
    height: 34px;
    padding-left: 30px;
    color: #5696e5;
    align-items: center;
}
.monitor .content li:hover{
    background-color: rgba(106, 204, 163, .5);
}
.monitor .content span:nth-child(1),
.monitor .content span:nth-child(3){
    flex: 1;
}
.monitor .content span:nth-child(2){
    flex: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 3.点位分布统计和全国用户总量统计共用样式 */
.share{
    height: 330px;
}
.share h3{
    font-size: 22px;
    height: 42px;
    color: #fff;
}
.share .echarts {
    display: flex;
    height: 240px;
}
.share .echarts .data{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: url('../images/rect.png') no-repeat;
}
.share .echarts .data .item{
    width: 50%;
}
.share .echarts .data span{
    color: #4c9bfd;
}

/* 4. 点位分布统计样式*/
.point .echarts .pie{
    flex:2;
    background-color: rgba(255, 255, 255, .1);
}

/*5.设备数据统计(地图)样式 */
.total{
    color: #fff;
    font-size: 22px;
}
.map{
    height: 603px;
    margin: 0 13px;
    background-color: rgba(255, 255, 255, .1);
}
.geo{
    width: 100%;
    height: 100%;
}

/* 6.全国用户总量统计样式 */
.userTotal{
    margin: 20px;
}
.userTotal .echarts .bar{
    flex:3;
    background-color: rgba(255, 255, 255, .1);
}

/* 7.订单销售额概览样式 */
.order{
    height: 144px;
}
.order .title{
    display: flex;
    height: 20px;
    align-items: center;
}
.order .title a{
    font-size: 14px;
    color: #1950c4;
}
.order .title a.active{
    color: #fff;
    font-size: 20px;
}
.order .title .sp{
    font-size: 18px;
    color: #00f2f1;
    margin: 0 30px;
}
.order .data{
    display: flex;
    height: 64px;
    margin-top: 25px;
}
.order .data .item{
    flex: 1;
}
.order .data h3{
    font-size: 22px;
    color: #fff;
    margin-bottom: 10px;
}
.order .data i{
    font-size: 14px;
}
.order .data span{
    color: #4c9bfd;
    font-size: 14px;
}

/* 8.销售额统计样式 */
.sale{
    height: 245px;
    margin: 20px 0;
}
.sale .title h3{
    display: inline-block;
    height: 24px;
    color: #fff;
    font-size: 22px;
    margin-right: 20px;
}
.sale .title span{
    color: #00f2f1;
    font-size: 22px;
}
.sale .title a{
    display: inline-block;
    width: 23px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    border-radius: 4px;
    color: #0bace6;
    font-size: 14px;
    margin-left: 20px;
}
.sale .title a.active{
    color: #fff;
    background-color:#4c9bfd;
}
.sale .line{
    height: 162px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, .1);
}

/* 9.渠道分布和一季度销售进度样式 */
.twoInOne{
    display: flex;
    margin-bottom: 20px;
}
/* 9.1渠道分布样式 */
.channel{
    height: 230px;
    width: 48%;
}
.channel h3{
    font-size: 22px;
    color: #fff;
}
.channel h3 b{
    font-size: 14px;
}
.channel .item{
    float: left;
    width: 50%;
    color:#4c9bfd;
    margin-top: 25px;
}

/* 9.2一季度销售进度样式 */
.quarter{
    margin-left: 20px;
    width: 48%;
    height: 230px;
}
.quarter h3{
    font-size: 18px;
    height: 20px;
    color:#fff;
}
.quarter .ring{
    height: 90px;
    background-color: rgba(255, 255, 255, .1);
    margin: 20px 0;
}
.quarter .data .item{
    float: left;
    width: 50%;
    color: #2d9bfd;
    font-size: 14px;
}
.quarter .data .item p{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;

}

/* 10.全国热榜 各省热销样式 */
.hot{
    height: 275px;
}
.hot .title{
    height: 24px;
    line-height: 24px;
}
.hot .title h3{
    float: left;
    font-size: 22px;
    color: #fff;
    margin-right: 20px;
}
.hot .title i{
    float: right;
    color:#057faf;
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
}
.hot .data{
    display: flex;
    height: 190px;
    color: #4c9bfd;
    margin-top: 20px;
}

.hot .left,
.hot .middle,
.hot .right{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.hot .left .item{
    flex:1;
    font-size: 16px;
}
.hot .left .item i{
    display: inline-block;
    font-size: 30px;
    text-align: center;
    margin-right: 10px;
    vertical-align: middle;
}
.hot .middle ul{
    height: 100%;
    margin-top: -10px;
}
.hot .middle li{
    height: 37px;
    line-height: 37px;
}
.hot .middle li.active{
    color: #a3c6f2;
    background-color: rgba(255, 255, 255, .1);
}
.hot .icon-up{
    color: #dc3c33;
}
.hot .icon-down{
    color: #36be90;
}
.hot .right{
    height: 186px;
    align-items: center;
    margin-top: -10px;
    color: #3ab6c3;
    background-color: rgba(255, 255, 255, .1);
}
.hot .right li{
    height: 32px;
    line-height: 32px;
}